<article class="p-10 snap-center h-min-screen w-screen bg-stone-950 flex-shrink-0 flex-grow-0 w-screen snap-always 
md:w-1/3 md:snap-start lg:snap-normal lg:flex-grow lg:w-auto {{ 'lg:hidden' if hiddenOnLG }}" id="{{ idPrefix }}{{ day }}" >
    <h1 class="text-3xl font-bold leading-relaxed text-stone-400 tracking-wide mt-10">{{ day }}</h1>
    
    {% for daypart in daydata.catalog %}
    <div class="{{ daypart.title }}">
        <h2 class="text-2xl font-bold text-left leading-relaxed text-stone-500 mt-8">{{ daypart.title }}</h2>
        <ul class="text-lg mt-4">
        {% for menuitem in daypart.items %}
            <li>{{ menuitem }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endfor %}

    <div class="mt-16 text-lg font-thin text-stone-200 lg:mt-8 lg:font-normal lg:text-stone-500">
    <span>Menu for:</span>
    <ul class="mt-2">

        {% for date in daydata.dates %}
        <li>{{ date }}</li>
        {% endfor %}

    </ul>
    </div>
</article>