<article class="p-10 snap-center min-h-screen w-screen bg-stone-950 flex-shrink-0 flex-grow-0 w-screen snap-always 
md:hidden">
    <div>
        <h1 class="text-3xl font-bold leading-relaxed text-stone-400 tracking-wide mt-10">Error</h1>
        <div class="text-lg mt-4">
            <p class="mt-1">If you're seeing this, my script couldn't parse the Excel file for some reason.
                Please let me know about it and I'll fix it.
            </p>
        </div>
    </div>
</article>