<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <style>
        {% cssconcat %}
    </style>
    <script>{% include "./includes/index.js" %}</script>
    <script async src="https://analytics.umami.is/script.js" data-website-id="011dc300-52eb-4333-9a27-c883acbb639a"></script>
    <link rel="manifest" href="/manifest.webmanifest">
  </head>
  <body>

    <main class="lg:w-screen text-stone-300 bg-black leading-normal flex flex-row overflow-x-scroll snap-x scroll-smooth snap-mandatory md:snap-none lg:max-w-screen">
      {% if menu is defined %}
        {% set idPrefix = 'pre-' %}
        {% set hiddenOnLG = true %}
        {% for day, daydata in menu %}
          {% include "./includes/DayView.njk" %}
        {% endfor %} 

        {% set idPrefix = '' %}
        {% set hiddenOnLG = false %}
        {% for day, daydata in menu %}
          {% include "./includes/DayView.njk" %}
        {% endfor %} 

        {% set idPrefix = 'post-' %}
        {% set hiddenOnLG = true %}
        {% for day, daydata in menu %}
          {% include "./includes/DayView.njk" %}
        {% endfor %}

        {% include "./includes/AboutPage.njk" %}
      {% else %}
        {% include "./includes/ErrorPage.njk" %}
      {% endif %}
    </main>

  </body>
</html>
